<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium Deals</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    {% include "header.html" %}
    <div class="main">
        <div class="join-card">
            <h1>Premium Deals</h1>
            <img src="static/images/logo.jpg" alt="" srcset="" style="height:100px;width:100px;border-radius:50%">
            <span>Watch full length 18+ videos for free</span>
            <a href="">Join Telegram</a>
        </div>
    </div>
    {% include "footer.html" %}
</body>

</html>