<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch {{video.title}}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    {% include "header.html" %}
    <div class="main-ss">
        <h1>
            {{video.title}}
        </h1>
        <div class="ss-container">
            {% for ss in video.screenshots %}
                <img src="https://img.migna155.workers.dev/file/2446496603/{{ss.id}}/image.jpg" alt="">
            {% endfor %}



        </div>

    </div>
    {% include "footer.html" %}

</body>


</html>