<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium Deals</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    {% include "header.html" %}
    <div class="main">
        <div class="video-container">
            <span>{{video.title}}</span>
            <img src="https://img.migna155.workers.dev/file/2446496603/{{random(video.screenshots).id}}/image.jpg" alt="">
            <a href="tg://resolve?domain=premiumdeals_1bot&start={{video.id}}">Watch Now</a>
            <script type='text/javascript' src='//elizabethpunishhead.com/75/4d/e3/754de3a864aae2afaedb00ede5edff88.js'></script>
            <script type="text/javascript">
	atOptions = {
		'key' : 'b96a38dd7651163906f72ac67278d8b7',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//elizabethpunishhead.com/b96a38dd7651163906f72ac67278d8b7/invoke.js"></script>
            <script type='text/javascript' src='//elizabethpunishhead.com/41/9b/36/419b36423423d7af529bad38ae0e8ced.js'></script>
        </div>
    </div>
    {% include "footer.html" %}
</body>


</html>
